*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.colorFondo{
    background-color: black !important;
}

.colorFuente{
    color: white !important;
}

.colorFondoGris{
    background-color:rgb(71, 71, 71)
}
body footer div a img{
    color: chartreuse !important;
}
.imagenNosotros{
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.imagenLaRaza{
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.imagenes{
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.imagenContacto{
    background-image: url("../assets/img/CONTACTO.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}